<div class="text-left">

    <p>Welcome to Deep Learning, the site geared towards helping you discover something new today so you can master it tomorrow. To begin, search for a topic or select one of our most popular below.</p>

    <strong>Site Navigation</strong>

    <p>Once you've entered a topics page, you are greeted to a wiki-style editor allowing you to contribute to the content with everyone else. There are also additional links for you to explore, but feel free to add your own as well. If you ever want to go back and change your topic, simply select the Home tab, or search for a new topic in the Navigation bar. It's that simple!</p>


    <strong>Taking and Making Quizzes</strong>

    <p>Then from the Navigation bar, select quizzes. Here you can take quizzes other users have created, or make a quiz. Once you select make a quiz, you will be directed to a simple quiz maker. Add as many questions as you'd like and mark which one is the correct answer. When you're done adding questions, select Finish. The quiz will now be posted for everyone to take.</p>


    <strong>Reviewing and Creating Flash Cards</strong>

    <p>From the same Navigation Bar, select flash cards. Here, you can view digital flash cards to help you study. Simply drag your mouse over a term to see its definition or explanation. Also, select "new flash card set" to create your own flash cards. It's easy and a great way to share knowledge between each user!</p>
</div>
