
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a ng-class="{'active':state.is('home')}" href="#/">Home</a></li>
            <li><a ng-class="{'active':state.is('about')}" href="#/about">About Us</a></li>
            <li><a ng-class="{'active':state.is('help')}" href="#/help">Help</a></li>

            <li ng-show="state.is('topic') || state.is('topicFlashcard') || state.is('topicFlashcards') || state.is('topicQuiz') || state.is('topicQuizzes') || state.is('addTopicQuiz') || state.is('topicQuiz.topicQuizEditing')">
                <div class="btn-group text-left" dropdown>
                    <button type="button" class="btn btn-default" ng-click="topicHome()"><strong>{{stateParams.topic}}</strong></button>
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ng-href="#/topics/{{stateParams.topic}}/quiz">Quizzes</a>
                        </li>
                        <li><a ng-href="#/topics/{{stateParams.topic}}/flashcards">Flash Cards</a></li>
                        <li class="divider"></li>
                        <li><a ng-href="#/topics/{{stateParams.topic}}/quiz/new">New Quiz...</a></li>
                    </ul>
                </div>
            </li>
            <li ng-show="state.is('topic')">
                <div hci-edit-toggle></div>
            </li>
        </ul>
        <form ng-show="!state.is('home') && !state.is('topics')" class="navbar-form navbar-left" role="search">
            <div class="form-group" hci-search input-size="20"></div>
        </form>
        <p class="navbar-text navbar-right"><strong>Deep Learning</strong></p>
    </div>
</nav>