
<div class="text-left jumbotron" ng-hide="quizEditing">
    <strong style="font-size: 1.5em">{{quiz.title}}&nbsp;&nbsp; <a href="javascript: void(0);" ng-click="edit()">Edit</a></strong>

    <form role="form" class="text-left form-horizontal">
        <br/>

        <div ng-repeat="question in quiz.questions">
            <strong>{{question.title}}</strong>
            <div class="form-group">
                <div class="col-sm-10">
                    <div class="radio" ng-repeat="answer in question.answers">
                        <label>
                            <input type="radio" name="answer" value="{{answer.text}}"/>
                            {{answer.text}}
                        </label>
                    </div>
                </div>
            </div>

            <br/>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>

<div ui-view></div>