<h3>Page under construction</h3>
<div style="height: 100%">
    <iframe id="quizframe" frameborder="0" style="overflow:hidden;" width="100%" ng-src="{{quizpage}}" onLoad="calcHeight();"></iframe>
</div>

<script type="text/javascript">
    function calcHeight()
    {
        //find the height of the internal page
        var the_height=
                document.getElementById('quizframe').contentWindow.
                        document.body.scrollHeight;

        var w = window,
                d = document,
                e = d.documentElement,
                g = d.getElementsByTagName('body')[0],
                x = w.innerWidth || e.clientWidth || g.clientWidth,
                y = w.innerHeight|| e.clientHeight|| g.clientHeight;

        //change the height of the iframe
        document.getElementById('quizframe').height=y-190;
    }
</script>