<section id="about" class="home-section bg-white">
    <div hci-search></div>
    <div class="row text-left" ng-if="q">
        <div class="col-sm-12">
            <h4>Topics which may relate to {{ q }}:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-repeat="topic in foundTopics">
            <div class="box-team wow bounceInDown" data-wow-delay="0.1s">
                <img ng-src="{{ topic.imgUrl }}" alt="" class="img-responsive" />
                <h4>{{ topic.heading }}</h4>
                <p>{{ topic.description }}</p>
            </div>
        </div>
    </div>
</section>